/* Set styles for header */
.header {
    padding: 0 2%;
    z-index: 2;
    height: 100%;
    min-height: 100px;
    background-color: #F6F0F4;

}

/* Set styles for header logo */
.header .navbar-brand {
    font-size: 2.2em;
    font-weight: 700;
}

/* Set styles for first part of logo */
.navbar-brand span:first-child {
    color: #c56b85;
}

/* Set styles for second part of logo */
.navbar-brand span:last-child {
    color: #345d7d;
}

/*set styles for nav bar*/
.navbar-collapse a {
    font-size: 1.1rem !important;
    font-weight: 500 !important;
    color: #c56b85 !important;
    transition: color 0.2s ease-in-out;
    /* add a transition effect */
}

.navbar-collapse a:hover,
.login:hover,
.signup:hover,.navbar a.active:hover{
    color: #6c3c49 !important;
}

.navbar a.active {
    background-color: #c56b85 !important;
    border-radius: 20px !important;
    border: none !important;
    color: white!important;
	padding:2%;
	margin-top: 10%;
}


/* Set styles for signup and login  */
.login,
.signup {
    font-size: 1.1rem !important;
    font-weight: 450 !important;
    border-radius: 20px;
    width: 90px;
    text-align: center;
    padding: 1%;
}

.login {
    color: #c56b85;
}

.signup {
    background-color: #c56b85;
    color: #ffffff;
}

.navbar-toggler {
    font-size: 0.8rem;
    font-weight: 500;
    border: solid 2px #345d7d;

}

@media (max-width: 992px) {
    .header {
        flex-wrap: nowrap;
        justify-content: center;
    }
	.navbar a.active {
	margin-top: 0;
	

}
    .navbar-brand {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .navbar-toggler {
        margin-left: 20px;
    }

    .navbar-nav.ms-auto.align-items-center {
        justify-content: center;
    }

    .signup-login {
        margin-top: 10px;
    }

    .navbar-collapse:not(:empty) .signup-login {
        margin: 10 auto !important;
    }

    .navbar-collapse a {
        width: 100%;
        text-align: center;
    }

    .navbar-collapse {
        border-radius: 20px;
        width: auto;
    }

}





.footer {
    padding: 15px;
    background-color: #F6F0F4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .navbar-brand {
    margin-right: 50px;
    font-size: 2.2em;
    font-weight: bold;
}

.footer .copyright {
    color: #725a7a;
    font-weight: 400;
}

/* ____________________________________________________________________________ */
html{
    background-color: #F6F0F4;
}
main{
    width: 100%;
    background-color: #F6F0F4;
    overflow-x: hidden;
  
}
.container-fluid {
    width: 100%;
    padding: 0;
    margin: 0;
}

.row {
    margin: 0;
    width: 100%;
    height: auto;
    word-wrap: normal;
}

.col {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 7% 10%;
}

.txt {
    text-align: justify;
    line-height: 2;
    z-index: 1;
}

main p {
    color: #c56b85;
    font-size: 1.50rem;
	font-family:'Ysabeau';
}

main h2 {
    color: #345d7d;
    font-size: 3.50rem;
    font-weight: 700;
    margin-bottom: 30px;

    font-family: 'Roboto', sans-serif;
text-align: left;
font-size: 3rem;
font-weight: 600;
color: #345D7D;
text-transform: uppercase;
text-shadow: 1px 1px 0px #244157,
1px 1.5px 0px #244157,
1px 2px 0px #244157,
1px 2.5px 0px #244157,
1px 3px 0px #244157,
1px 3.5px 0px #244157;
}

.purple {
    position: relative;
    left: 0;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 0;
    margin: -5%;
}

.white {
    float: right;
    height: 100%;
    margin: -5%;
    padding: 0;
    z-index: 0;
}