<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

  <meta name="keywords" content="NATIVE DESIGN, Brand Designer, Web Designer, Game Designer, 
  Film Maker, Animator, perfect hub, designers, design expertise, special logo, design packaging, 
  Design website, develop website, ideas, games, videos, sketches, digital media, animation,
  films, advertisements, television shows, destination">

  <meta name="description" content="The lack of multimedia specialists' platforms and the difficulty 
  for those who are interested in looking for a talented designer to work with have inspired us to 
  create “Designative” which aims to link multimedia specialists, customers, and corporations together 
  in one place. Multimedia specialists will be able to share and sell their works. Those who are 
  interested will be able to explore the work of a variety of designers or own some works. Our goal is 
  to help multimedia specialists get great opportunities from giant corporations, and corporations get 
  unique services without the need for commitment to the worker. ">

  <meta name="author" content="Deignative_Team: Maya, Raneem, Nour, & Joudy">

  <title>Designative General Home</title>
  <!-- Bootstrap CSS -->
  <!-- Latest compiled and minified CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Ysabeau" rel="stylesheet" />
  <!-- Latest compiled JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="/css/home_general_style.css" />
</head>

<body>
  <main>
    <!-- Video Background with header and Row 1 -->
    <div class="video-container">
      <video autoplay muted loop>
        <source src="/videos/homevideo.mp4" type="video/mp4" />
      </video>

      <%- include('partials/nav-bar') %>

      <!-- Row 1-->
      <div id="row1" class="row">
        <div class="col">
          <div class="welcome-text">
            <div class="h1">
              <h1><span class="destination">Your destination for</span> <br /></h1>
              <h1>
                <span class="title-word title-word-1">N</span>
                <span class="title-word title-word-2">a</span>
                <span class="title-word title-word-3">t</span>
                <span class="title-word title-word-4">i</span>
                <span class="title-word title-word-5">v</span>
                <span class="title-word title-word-6">e</span> &nbsp;&nbsp;
                <span class="design">Design </span>
              </h1>
            </div>
            <div class="p">
              <p>
                The perfect hub for designers and individuals seeking design expertise
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Row 2 with 2 columns -->
    <div id="row2" class="row">
      <div class="col-md-6">
        <div id="brand-text">
          <h2><span>Brand Designer</span></h2>
          <p>
            Visualize your concepts and ideas to inspire users, we can design a special
            logo and design packaging!
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div id="wrapper">
          <div id="sub-wrapper">
            <div id="bags" class="product"></div>
            <div id="shoes" class="product"></div>
          </div>
          <div id="sub-wrapper">
            <div id="Cam-headphones" class="product"></div>
            <div id="cup" class="product"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Row 3 with 2 columns -->
    <div id="row3" class="row">
      <div class="col-md-6">
        <div class="web-outer-container">
          <div class="web-container">
            <img src="/images/web.png" />
            <img src="/images/web.png" />
            <img src="/images/web.png" />
            <img src="/images/web.png" />
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div id="web-text">
          <h2>
            <br />
            <span>Web Designer</span>
          </h2>
          <p>Design and develop your website!</p>
        </div>
      </div>
    </div>

    <!-- Row 4 with 2 columns -->
    <div id="row4" class="row">
      <div class="col-md-6">
        <div class="game-text">
          <h2><span>Game Designer</span></h2>
          <p>Bring ideas to have great games!</p>
        </div>
      </div>
      <div class="col-md-6">
        <div id="game-container">
          <video autoplay muted loop>
            <source src="videos/gamevideo.mp4" type="video/mp4" />
          </video>
        </div>
      </div>
    </div>

    <!-- Row 5 with 2 columns -->
    <div id="row5" class="row">
      <div class="col-md-6">
        <div id="film-container">
          <video autoplay muted loop>
            <source src="videos/filmmaker.mp4" type="video/mp4" />
          </video>
        </div>
      </div>
      <div class="col-md-6">
        <div id="film-text">
          <h2><span>Film Maker</span></h2>
          <p>Show your videos to be professional!</p>
        </div>
      </div>
    </div>

    <!-- Row 6 with 2 columns -->
    <div id="row6" class="row">
      <div class="col-md-6">
        <div class="animate-outer-text">
          <h2><span>Animator</span></h2>
          <p>
            Designs and sketches for various digital media assets (animation films,
            advertisements, and television shows)!
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div id="animate-outer-container">
          <div id="animate-container">
            <div class="animate-text"></div>
            <img src="images/giphy-reading.gif" />
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- Footer -->
  <%- include('partials/footer') %>
</body>

</html>